<strong>Olá, {{ name }}</strong>
<p>Sua matrícula foi cancelada, confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ title }} <br />
  <strong>Data de cancelamento: </strong> {{ date }} <br />
  <small>
    Sentiremos sua falta.
  </small>
</p>
