<strong>Olá, {{ name }}</strong>
<p>Sua matrícula foi alterada. Confira abaixo os detalhes:</p>
<p>
  <strong>Plano: </strong> {{ title }} <br />
  <strong>Data de término: </strong> {{ date }} <br />
  <strong>Valor: </strong> R${{ price }} <br />
  <small>
    Te esperamos no treino!
  </small>
</p>
