<strong>Olá, {{ name }}</strong>
<p>Sua pergunta foi respondida! Confira abaixo os detalhes:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <strong>Data de resposta: </strong> {{ date }} <br />
  <small>
    Caso necessario, não exite em nos enviar outra pergunta.
  </small>
</p>
